html, body{
    max-width: 800px;
    margin: auto 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444;
}
body{
    background: bottom left no-repeat url('https://sibrows.github.io/ShalfordScouts/Media/PurpleLogo.png');
}
a{
    color: #7413DC;
}
